In [2]:
from cdcqr.data.glassnode import glassnode_data as gnd
from cdcqr.ct.utils import plot2
import pandas as pd

C:\Users\Wang\anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [3]:
gn = gnd.GlassnodeData()

### BTC

### ochl

In [5]:
fs =  ['PriceUsdOhlc']
a = 'BTC'
df = gn.load_features(fs,a)
df.head(2)

loading market/price_usd_ohlc asset=BTC, resolution=1h

,BTC-PriceUsdOhlc-c,BTC-PriceUsdOhlc-h,BTC-PriceUsdOhlc-l,BTC-PriceUsdOhlc-o
t,,,,
2010-07-17 23:00:00,0.04951,0.04951,0.04951,0.04951
2010-07-18 00:00:00,NaN,NaN,NaN,NaN

In [9]:
df.tail(1000)

,BTC-PriceUsdOhlc-c,BTC-PriceUsdOhlc-h,BTC-PriceUsdOhlc-l,BTC-PriceUsdOhlc-o
t,,,,
2021-12-26 12:00:00,49998.645994,49998.645994,49791.702438,49844.053294
2021-12-26 13:00:00,49775.731142,50001.952916,49775.731142,49946.210252
2021-12-26 14:00:00,49943.378533,49943.378533,49751.427069,49816.658274
2021-12-26 15:00:00,50100.574918,50215.264972,49914.335266,49930.629000
2021-12-26 16:00:00,50339.430285,50357.602302,50060.846197,50101.415336
...,...,...,...,...
2022-02-05 23:00:00,41421.476433,41641.085750,41421.476433,41591.855354
2022-02-06 00:00:00,41504.085585,41504.085585,41398.081413,41441.120790
2022-02-06 01:00:00,41600.668846,41600.668846,41510.888803,41510.888803
2022-02-06 02:00:00,41502.244046,41618.161281,41502.244046,41615.497494
2022-02-06 03:00:00,41559.545726,41559.545726,41494.841725,41507.607714

In [ ]:
#### MVRVC

In [ ]:
fs =  ['price_usd_close','mvrv_z_score','mvrv','nupl_less_155_account_based','nupl_more_155_account_based']
a = 'BTC'
i = '24h'
df = gn.load_features(fs,a, i)
df.head(2)

In [ ]:
cols = list(df.columns)

In [ ]:
df[df.index>='20210101'].plot2(cols[0],cols[1:3])

In [ ]:
feats = ['nupl_less_155_account_based']

df[df.index>='20200101'].plot2(cols[0],['{}_{}'.format(a,x) for x in feats])

### ETH

In [ ]:
df[df.index>='20200101'].plot2(cols[0],'BTC_nupl_more_155_account_based')