In [3]:
import json
import requests
import pandas as pd
from cdcqr.common.config import GLASSNODE_API_KEY as API_KEY



# make API request
res = requests.get('https://api.glassnode.com/v1/metrics/indicators/sopr',
    params={'a': 'BTC', 'api_key': API_KEY})

# convert to pandas dataframe
df = pd.read_json(res.text, convert_dates=['t'])

In [4]:
df

              t         v
0    2010-07-17  1.000000
1    2010-07-18  1.174760
2    2010-07-19  1.318536
3    2010-07-20  1.090517
4    2010-07-21  1.065532
...         ...       ...
4202 2022-01-17  0.997178
4203 2022-01-18  0.998504
4204 2022-01-19  0.996247
4205 2022-01-20  0.998599
4206 2022-01-21  0.987558

[4207 rows x 2 columns]

In [20]:
res = requests.get('https://api.glassnode.com/v1/metrics/derivatives/futures_open_interest_perpetual_sum_all',
    params={'a': 'BTC', 'api_key': API_KEY})

# convert to pandas dataframe
df = pd.read_json(res.text, convert_dates=['t'])

In [ ]:
df

In [26]:
df['oi'] = df['o'].apply(lambda x: x['total'])

In [29]:
df

,t,o,oi
0,2020-02-21,"{'binance': 20247.7909420635, 'bitfinex': 2028...",166229.088245
1,2020-02-22,"{'binance': 20701.0429761427, 'bitfinex': 2025...",169192.293677
2,2020-02-23,"{'binance': 22431.0083229297, 'bitfinex': 2044...",166403.324845
3,2020-02-24,"{'binance': 21026.6182503381, 'bitfinex': 2024...",178399.327615
4,2020-02-25,"{'binance': 21872.2115736857, 'bitfinex': 1961...",183820.022766
...,...,...,...
696,2022-01-17,"{'binance': 102822.600789918, 'bitfinex': 1368...",252394.489113
697,2022-01-18,"{'binance': 102076.312726758, 'bitfinex': 1372...",250530.565593
698,2022-01-19,"{'binance': 103521.278705729, 'bitfinex': 1364...",254385.131705
699,2022-01-20,"{'binance': 105410.883529705, 'bitfinex': 1363...",257264.707245
700,2022-01-21,"{'binance': 101687.504937006, 'bitfinex': 1367...",243666.353004

In [23]:
df['o'][0]

{'binance': 20247.7909420635,
 'bitfinex': 2028.32472696175,
 'bitmex': 94186.2938202827,
 'bybit': 20415.0816431587,
 'deribit': 17548.3775993412,
 'ftx': 6980.14059967085,
 'kraken': 4823.07891345807,
 'total': 166229.08824493678}